/* BEGIN CONFIRM DIALOG */
.dialog-icon {
	font-size: 5rem !important;
}

.dialog-warning-icon {
	color: var(--warning-color);
}

/* END CONFIRM DIALOG */
/* SINGLE DOCUMENT COMPONENT */
.document-panel .document-name {
	white-space: nowrap;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
}

.document-panel .document-label {
	float: right;
}

.document-panel .created-date-label, .document-panel .created-date,
.document-panel .document-name {
	float: left !important;
}

.document-panel .created-date {
	margin-left: 20px;
}

.document-panel .created-date-label, .document-panel .created-date {
	font-style: italic;
}

.document-buttons-panel .ui-fileupload-filename {
	max-width: 200px;
}

.document-panel .upload-document-button .ui-button-text {
	min-width: 60px !important;
}

.document-panel .upload-document-button.ui-widget.ui-fileupload {
	display: inline-block;
	vertical-align: top;
	padding: 0;
}

.document-panel .upload-document-button .ui-fileupload-content {
	display: none;
}

.document-panel .document-upload-panel, .document-panel .document-label-panel
	{
	display: inline-flex;
	flex-direction: row;
	align-items: center;
}

.document-panel .document-label-panel {
	justify-content: flex-end;
	word-break: break-all;
}

.document-panel .document-upload-panel {
	justify-content: flex-start;
}

.document-panel .document-buttons-panel {
	padding-right: 1.5rem;
	display: inline-flex;
	align-items: center;
}

/* REMOVE ERROR MESSAGE'S BLANK SPACE */
body .ui-widget + .ui-message {
	padding: 0px; 
	margin: 0px;
}

body .ui-message {
	padding: 0px; 
	margin: 0px;
	display: block;
}

body .ui-message[class*="ui-message-"] { 
	margin: 0 0 0 0.5rem;
	padding: 0.5rem 0.5rem;
	display: inline-block;
}

@media ( max-width : 992px) {
	.document-panel .created-date-panel {
		display: none !important;
	}
}
/* END SINGLE DOCUMENT COMPONENT */
.u-vertical-align-middle {
	vertical-align: middle;
}

.approval-history-table .approval-comment {
	white-space: pre-wrap;
}

.pr-12 {
	padding-right: 12px;
}

/* ADOBE SIGN DIALOG */

.adobe-sign-dialog .ui-dialog-content.ui-widget-content {
	padding: 0;
	margin: 0;
}

.adobe-sign-dialog .signing-iframe {
	width: 100%;
	height: calc(100% - 4px);
	border: none;
	border-radius: 4px;
}
/* END ADOBE SIGN DIALOG */

/* Data deletion */
.warning-letter {
	color: var(--error-color);
	font-weight: bold;
}

.data-deleting-message {
	background-color: var(--surface-d);
	border-radius: 0.5rem;
	font-size: 85%;
	max-height: 200px;
	overflow: auto;
	padding: 0.5rem;
	user-select: auto;
}

.helper-loading {
	display: inline-flex;
	align-items: center;
	flex-direction: row;
}